/* 
var(--accent-white40);
*/

:root {
  --primary: #283038;
  --accent-white: #F3F3F3;
  --accent-white40: #FEF3F340;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  background: var(--primary);
  color: var(--accent-white);
  font-size: 18px;
  overflow: hidden;
}

#start-prompt {
  position: absolute;
  top: 17.5%;
  /* left: 13.5%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 300px;
  height: 300px;
  background: #FFFFFF10;
  /* background: #00000020; */
  z-index: 500;
  box-shadow: 0 2px 12px 2px #00000070;
  backdrop-filter:  invert(1) opacity(0.7) blur(2px);
  border-radius: 6px;
}

#start-button {
  padding: 10px 24px;
  font-size: 22px;
  font-weight: 700;
  border: 1px solid var(--accent-white40);
  border-radius: 8px;
  background: var(--primary);
  color: var(--accent-white);
  text-transform: uppercase;
}

#app-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

#app-header-top {
  width: 100%;
  height: 100%;
  color: var(--accent-white40);
  letter-spacing: 18.5px;
  line-height: 0.8;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  padding: 4px 4px 8px;
  white-space: nowrap;
}

#app-header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.control-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #F0F0F0C9;
  border: 1px solid var(--accent-white40);
  padding: 2px 4px;
  border-radius: 6px;
}

#oscillator-input {
  padding: 4px 6px;
  background: none;
  color: var(--accent-white);
  font-size: 15px;
  text-align: center;
  border: none;
  border-left: 1px solid #F0F0F03D;
}

#app-header input {
  width: 60px;
  padding: 4px;
  background: none;
  font-size: 15px;
  color: var(--accent-white);
  border: none;
  border-left: 1px solid #F0F0F03D;
  padding: 4px 6px;
  text-align: center;
}


#app-body {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

#app-footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-content: center;
  overflow-y: hidden;
  padding: 8px;
  color: var(--accent-white);
  filter: opacity(0.3);
  letter-spacing: 1.75px;
  font-weight: 300;
  font-size: 14px;
}

svg {
  /* filter:  invert(1); */
  /* filter:  invert(1) opacity(0.7) blur(0.1px); */
  touch-action: none;
}

.curve {
  stroke: #E8C313;
  fill: transparent;
}

#surface-layer {
  filter: blur(0.075px);
}

.hud-text {
  font-size: 0.4em;
}

.circ1 {
  fill: #D13D3D;
}

#dot {
  fill: #F7F7F7;
  stroke: #FFFFFF;
  stroke-width: 2px;
  /* pointer-events: none; */
}
#dot2 {
  fill: #2D36D700;
  stroke: #FFFFFF;
  stroke-width: 2px;
  /* pointer-events: none; */
}